<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/icons/common/stonk.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask opacity-8" style="background: linear-gradient(to right,#673400, #834200, #964b00, #a4550a, #b6551d);"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <!-- <h1 class="display-2 text-white">H</h1> -->
        <!-- <p class="text-white mt-0 mb-5">ssss</p> -->
        <!-- <a (click)="update_profile()" class="btn btn-info">Edit profile</a> -->
      </div>
    </div>
  </div>
</div>
  
  <div class="container-fluid mt--7">
    <div *ngFor="let i of news" class="card shadow border-0" style="margin-top: 4em;">
      <div class="card-body" style="min-height: 150px;">
        <span [innerHTML]="i.content">{{i.content}}</span>
      </div>
    </div>
  </div>
  